{{#each this}}

<p class="name-country">{{name}}</p>
<div class="country">
  <div class="about-country">
    <p>Capital: {{capital}}</p>
    <p>Population:{{population}}</p>
   <ul>
     <p>Languages:</p>
   {{#each  languages}}
   <li>
     {{this.name}}
   </li>
   {{/each}}
   </ul> 
   </div>
   
   <div class="img-country">
      <img src="{{flag}}" width="300px">
   </div>
   </div>
  


{{/each}}